<!DOCTYPE html>
<!-- 
 * Projeto:  Fleet Care Amazon  -  Sistema de Controle de Locacao e Manutencao de Veiculos.
 * Gerente:  Sergio Murilo  -  smurilo at GMail
 * Data:     Manaus/AM  -  2024
 * Equipe:   Murilo, Victor, Allan
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{modulos/fragmento-header :: header-section}">
    <title>FleetCare Amazon</title>
</head>
    
<body th:style="'background-image:url(' + @{/assets/fleet_bg.png} + '); background-repeat: no-repeat, repeat; background-size: cover; background-color: white;'">    
    <!-- Full Page Device -->
    <div id="page-container">
        <!-- CONTEUDO DA PAGINA  -->
        <div id="content-wrap">
            <!--  MENU DO SISTEMA  -->
            <div th:insert="~{modulos/fragmento-menu-sistema :: navbar-menudashboard}"></div>
            
            <!--  AREA DO CONTEUDO DINAMICO  -->
            <section class="d-flex align-items-center">
                <div class="col inner-box">

                    <div class="btn-toolbar justify-content-between" role="toolbar">
                        <div>
                          <br/><h1 th:text="#{user.list}">&nbsp;</h1><br/>
                        </div>
                        <div>
                            <br/><a class="btn btn-primary btn-lg" th:href="@{/usuario/cadastrar}">
                                <span class="fa-regular fa-square-plus">&nbsp;</span>
                                <span th:text="#{admin.listar.usuario.adicionar}"></span>
                            </a><br/>
                        </div>
                    </div>
                    <div class="row m-3 mensagem  align-items-center" th:if="${mensagem}">
                        <span th:text="${mensagem}"></span>
                    </div>
                    <table class="table table-striped fleetCard">
                        <thead>
                            <tr>
                                <th th:text="#{form.cpf}" style="text-align: center;"></th>
                                <th th:text="#{form.name}"></th>
                                <th th:text="#{form.contact}"></th>
                                <th th:text="#{form.birthday}"></th>
                                <th th:text="#{form.email}"></th>
                                <th th:text="#{admin.editar.papel.usuario.actived}" style="text-align: center;"></th>
                                <th th:text="#{admin.editar.papel.usuario.profile}" style="text-align: center;"></th>
                                <th th:text="#{admin.editar.papel.usuario.actions}" colspan="3" style="text-align: center; width: 20%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${colecao.empty}">
                                <td colspan="10" th:text="#{user.no}"></td>
                            </tr>
                            <tr th:each="usuario : ${colecao}">
                                <td><span th:text="${usuario.cpf}"></span></td>
                                <td><span th:text="${usuario.nomeCompleto}"></span></td>
                                <td><span th:text="${usuario.whatsapp}"></span></td>
                                <td><span th:text="${#dates.format(usuario.dataNascimento, 'dd/MM/yyyy')}"> </span></td>
                                <td><span th:text="${usuario.email}"></span></td>
                                <td style="text-align: center;">
                                    <span th:if="${usuario.nivelAcesso != null}" th:text="${usuario.nivelAcesso.nome}"></span>
                                </td>
                                <td style="text-align: center;">
                                    <p class="btn-status btn-ativo"   th:if="${usuario.ativo}"    ><span th:text="#{user.status.active}"/></p>
                                    <p class="btn-status btn-inativo" th:unless="${usuario.ativo}"><span th:text="#{user.status.inactive}"/></p>
                                </td>
                                <!-- ACOES -->
                                <td>
                                    <a class="btn btn-danger btn-sm" 
                                       th:href="@{/usuario/remover/{id}(id=${usuario.entidadeID})}"
                                       th:data-confirm-delete="|Você gostaria de apagar ${usuario.nome}?|"
                                       th:title="#{alt.text.button.delete}"
                                       onclick="return confirmarExclusao(event, this);"
                                       th:text="#{admin.listar.usuario.delete}">
                                    </a>
                                </td>				
                                <td>
                                    <a class="btn btn-primary btn-sm" 
                                       th:title="#{alt.text.button.update}"
                                       th:href="@{/usuario/atualizar/{id}(id=${usuario.entidadeID})}"
                                       th:text="#{admin.editar.papel.usuario.edit}">
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" 
                                       th:title="#{alt.text.button.ativarEmail}"
                                       th:href="@{/usuario/ativar/{id}(id=${usuario.entidadeID})}"
                                       th:text="#{admin.editar.papel.usuario.roles}">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                    <!--  PAGINACAO DA TABELA  -->
                    <nav style="margin-top: 20px;" th:if="${colecao.totalPages > 0}">
                        <ul class="pagination" style="justify-content: center;">
                            <!-- Botão Previous -->
                            <li class="page-item" th:classappend="${colecao.first} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/usuario/paginar/{page}/{pageSize}(page=${colecao.number}, pageSize=15)}">
                                    <span th:text="#{table.pagination.previous}"></span>
                                </a>
                            </li>
                            <!-- Links das páginas -->
                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(0, colecao.totalPages - 1)}"
                                th:classappend="${colecao.number == i} ? 'active'">
                                <a class="page-link"
                                   th:text="${i + 1}"
                                   th:href="@{/usuario/paginar/{page}/{pageSize}(page=${i+1}, pageSize=15)}"></a>
                            </li>
                            <!-- Botão Next -->
                            <li class="page-item" th:classappend="${colecao.last} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/usuario/paginar/{page}/{pageSize}(page=${colecao.number + 2}, pageSize=15)}">
                                    <span th:text="#{table.pagination.next}"></span>
                                </a>
                            </li>                 
                        </ul>
                    </nav>   
                </div>
            </section>
            <!--  FIM DO CONTEUDO DINAMICO  -->
        </div>
    </div>
    <!--  RODAPE DA PAGINA  -->
    <footer th:insert="~{modulos/fragmento-footer-blank :: footer-limpo}"></footer>
</body>
</html>
